In [50]:
import pandas as pd

In [51]:
path = '../../data/BioKG/kg.csv'
kg = pd.read_csv(path,sep=',')

In [52]:
kg.head()

   Unnamed: 0    head                  relation        tail
0           0  P61981  RELATED_GENETIC_DISORDER  MIM:617665
1           1  Q14738  RELATED_GENETIC_DISORDER  MIM:616355
2           2  P30153  RELATED_GENETIC_DISORDER  MIM:616362
3           3  Q00005  RELATED_GENETIC_DISORDER  MIM:604326
4           4  Q9H2F3  RELATED_GENETIC_DISORDER  MIM:607765

In [53]:
kg['relation'].unique()

array(['RELATED_GENETIC_DISORDER', 'DRUG_DISEASE_ASSOCIATION',
       'PROTEIN_PATHWAY_ASSOCIATION', 'DISEASE_PATHWAY_ASSOCIATION',
       'COMPLEX_IN_PATHWAY', 'DISEASE_GENETIC_DISORDER',
       'MEMBER_OF_COMPLEX', 'PPI', 'DDI', 'DRUG_PATHWAY_ASSOCIATION',
       'PROTEIN_DISEASE_ASSOCIATION', 'COMPLEX_TOP_LEVEL_PATHWAY',
       'Drug_Target_Interaction'], dtype=object)

In [54]:
filtered_kg = kg.loc[(kg['relation']=='PPI') | (kg['relation']=='DDI') | (kg['relation']=='Drug_Target_Interaction')]

In [55]:
filtered_kg['relation'].unique()
print(len(kg))
print(len(filtered_kg))

2017795
1449884

In [56]:
filtered_kg = filtered_kg.iloc[:,1:]

In [57]:
filtered_kg = filtered_kg.reset_index(drop=True)

filtered_kg.head()

     head relation    tail
0  Q02930      PPI  Q9BYR3
1  Q5JPI3      PPI  Q5JPI3
2  Q9XYF4      PPI  Q9XYF4
3  Q8NG98      PPI  Q8NG98
4  Q8TBM7      PPI  Q8TBM7

In [58]:
path = '../../data/BioKG/dti.csv'
dti = pd.read_csv(path,sep = ',')

In [59]:
dti.head()

      head                 relation    tail
0  DB15035  Drug_Target_Interaction  P04626
1  DB01776  Drug_Target_Interaction  P01308
2  DB14635  Drug_Target_Interaction  P06133
3  DB03396  Drug_Target_Interaction  P50579
4  DB01238  Drug_Target_Interaction  P46098

In [60]:
full_kg = pd.concat([filtered_kg, dti])
print(len(full_kg))
full_kg.head()

1475935

     head relation    tail
0  Q02930      PPI  Q9BYR3
1  Q5JPI3      PPI  Q5JPI3
2  Q9XYF4      PPI  Q9XYF4
3  Q8NG98      PPI  Q8NG98
4  Q8TBM7      PPI  Q8TBM7

In [61]:
dup = full_kg[full_kg.duplicated()]
print(dup.head())
#print(dup['relation'].unique())
print(len(full_kg))
print(len(dup))
print(len(full_kg)-len(dup))

Empty DataFrame
Columns: [head, relation, tail]
Index: []
1475935
0
1475935

In [62]:
print(len(full_kg))
full_kg.drop_duplicates(inplace=True,keep='first')
print(len(full_kg))

1475935
1475935

In [63]:
path='../../data/BioKG/final_kg.csv'
full_kg.to_csv(path,index=False,sep = ',')